* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style: none;
}

:root {
  --body-bg-color: #22212C;
  --text-color: #837E9F;
  --bg-cards: #302F3D;
  --bg-techs: #CB92B1;
}

body {
  background-color: var(--body-bg-color);
  color: var(--text-color);
  font-family: "Merriweather Sans";
  display: flex;
}

aside {
  display: flex;
  flex-direction: column;
  flex: 1;
  justify-content: space-around;
  height: 100vh;
  padding: 1rem;
  gap: 1rem;
}
aside .profile {
  flex: 1;
  display: flex;
  background-color: var(--bg-cards);
  border-radius: 10px;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  padding: 15px;
  gap: 5px;
  box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.2);
}
aside .profile img {
  width: 100px;
  border-radius: 50%;
  border: 2px solid greenyellow;
}
aside .profile h4 {
  font-weight: lighter;
}
aside .links {
  flex: 2;
  display: flex;
  flex-direction: column;
  background-color: var(--bg-cards);
  border-radius: 10px;
  justify-content: space-between;
  padding: 30px 45px;
  font-size: small;
  box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.2);
}
aside .links .link {
  color: var(--text-color);
  flex-wrap: wrap;
  display: flex;
  gap: 15px;
  align-items: center;
  color: var(--text-color);
}
aside .links .link img {
  width: 25px;
}
aside .links .link a {
  color: var(--text-color);
}
aside .techs {
  flex: 1;
  display: flex;
  background-color: var(--bg-cards);
  border-radius: 10px;
  border: 0px;
  padding: 10px;
  flex-direction: column;
  box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.2);
  gap: 0.8rem;
}
aside .techs .techs-title {
  flex-wrap: wrap;
  align-items: left;
  text-align: left;
  font-weight: bold;
  padding-left: 10px;
}
aside .techs .techs-items {
  flex-wrap: wrap;
  align-items: left;
  text-align: left;
  flex-direction: row;
  display: flex;
  gap: 10px;
  justify-content: center;
  padding-bottom: 10px;
  padding-top: 0px;
}
aside .techs .techs-items .tech-item {
  width: 30%;
  text-align: center;
  background-color: var(--bg-techs);
  color: black;
  font-size: 15px;
  border-radius: 10px;
}

main {
  flex: 3;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  height: 100vh;
  padding: 1rem;
  gap: 1rem;
}
main .projects-title {
  flex: 1;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: var(--bg-cards);
  border-radius: 10px;
  border: 0px;
  padding: 10px;
  box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.2);
  gap: 0.8rem;
}
main .projects {
  flex: 6;
  display: flex;
  background-color: var(--bg-cards);
  border-radius: 10px;
  border: 0px;
  padding: 10px;
  box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.2);
  gap: 0.8rem;
}
main .projects .project {
  display: flex;
  flex-direction: column;
}
main .projects .project .project-title {
  display: flex;
  gap: 0.8rem;
  align-items: center;
  flex: 1;
}
main .projects .project .project-text {
  flex: 2;
}
main .projects .project .project-icons {
  display: flex;
  flex: 1;
}
main .posts-title {
  flex: 1;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: var(--bg-cards);
  border-radius: 10px;
  border: 0px;
  padding: 10px;
  box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.2);
  gap: 0.8rem;
}
main .posts {
  flex: 6;
  background-color: var(--bg-cards);
  border-radius: 10px;
  border: 0px;
  padding: 10px;
  box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.2);
  gap: 0.8rem;
}/*# sourceMappingURL=styles.css.map */